@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*
COLORS:
Black: #0B0B0B
RED: #AF2D2D
WHITE: #F5EBE0
BG Cards: #EFF5F5
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #0B0B0B;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

body {
    min-height: 100vh;
    background-color: #F5EBE0;
    border-inline: 4px solid #0B0B0B;
    align-items: center;
    margin: 0;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .25);
    background-color: #AF2D2D;
    border-bottom: 4px solid #0B0B0B;
}

ul {
    list-style-type: none;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.spinner {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50% 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #AF2D2D;
    z-index: 1;
}

.nav {
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin: 0 auto;
}

.logo {
    background-color: transparent;
    width: 100%;
    max-width: 100vw;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-header {
    border: 2px solid #0B0B0B;
    background-color: #EFF5F5;
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: 0.2s;
}

.btn-header:hover, .page:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.search-bar {
    margin: 0 auto;
    padding: .5rem;
}

input {
    border-radius: 100vmax;
    padding: .7rem;
    text-align: center;
    border: 3px solid #0B0B0B;
}

/*All Containers*/
.all-pokemon {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.pokemon {
    padding-block: 1rem;
    border-radius: 1rem;
    background-color: #EFF5F5;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    position: relative;
    isolation: isolate;
}

.sprite-container {
    margin: 1.5rem auto .5rem;
    padding: 1rem;
    display: flex;
    width: 80%;
    border-radius: 100vmax;
    padding: .5rem 1rem;
    border: 4px solid #0B0B0B;
    box-shadow: 0 0 1rem 0 #0B0B0B;

}

.pokemon-sprite {
    width: 90%;
    height: 90%;
    margin: auto;
    transition: 1s ease-out;
}

.pokemon-sprite:hover {
    transform: spin 1s;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokemon-id {
    font-size: 1rem;
    font-weight: bold;
    font-weight: 500;
    background-color: wheat;
    top: .7rem;
    right: .7rem;
    position: absolute;
    padding: .25rem 1rem;
    border-radius: 100vmax;
}

.pokemon-name {
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: .5rem;
}

.pokemon-type {
    padding-bottom: .5rem;
    display: flex;
    gap: .5rem;
    font-size: .8rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-stats {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: wheat;
    padding: 1rem .5rem;
    border-radius: 5%;
    max-width: fit-content;
    margin: auto;
    gap: .7rem;
    font-size: .9rem;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 4.5em;
}

.stat-name {
    font-size: .8rem;
    font-weight: bold;
}

.stat-amount {
    color: #AF2D2D;
    font-size: 2rem;
}

.pagination {
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    gap: .8rem;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
}

.page {
    background-color: #AF2D2D;
    padding: .25rem 0;
    margin: 1rem;
    border-radius: 100vmax;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: 0.2s;
    border: 2px solid #0B0B0B;
}

.page-link {
    padding: .25rem 1.25rem;
    color: #EFF5F5;
    text-decoration: none;
}

.not-found {
    grid-column: 1/6;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #EFF5F5;
    width: 100%;
    background-color: #AF2D2D;
    padding: 1rem .8rem;
    border-radius: 100vmax;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 1/6;
}

/*Back Cards*/
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

/*Responsive*/
@media screen and (min-width: 500px){
    .all-pokemon {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 760px){
    .all-pokemon {
        grid-template-columns: 1fr 1fr 1fr;
    }
}