:root {
--normal: #A8A878;
--fire: #F08030;
--water: #6890F0;
--grass: #78C850;
--electric: #F8D030;
--ice: #98D8D8;
--fighting: #C03028;
--poison: #A040A0;
--ground: #E0C068;
--flying: #A890F0;
--psychic: #F85888;
--bug: #A8B820;
--rock: #B8A038;
--ghost: #705898;
--dark: #705848;
--dragon: #7038F8;
--steel: #B8B8D0;
--fairy: #EE99AC;
--black: #0B0B0B;
--white: #EFF5F5;
--beige: #F5EBE0;
}

.type {
    padding: .25rem .5rem;
    font-size: 1rem;
    border-radius: 100vmax;
}

.normal {
    background-color: var(--normal);
    color: var(--black);
}

.fire {
    background-color: var(--fire);
    color: var(--black);
}

.water {
    background-color: var(--water);
    color: var(--white);
}

.grass {
    background-color: var(--grass);
    color: var(--black);
}

.electric {
    background-color: var(--electric);
    color: var(--black);
}

.ice {
    background-color: var(--ice);
    color: var(--black);
}

.fighting {
    background-color: var(--fighting);
    color: var(--white);
}

.poison {
    background-color: var(--poison);
    color: var(--white);
}

.ground {
    background-color: var(--ground);
    color: var(--black);
}

.flying {
    background-color: var(--flying);
    color: var(--black);
}

.psychic {
    background-color: var(--psychic);
    color: var(--black);
}

.bug {
    background-color: var(--bug);
    color: var(--black);
}

.rock {
    background-color: var(--rock);
    color: var(--black);
}

.ghost {
    background-color: var(--ghost);
    color: var(--white);
}

.dark {
    background-color: var(--dark);
    color: var(--white);
}

.dragon {
    background-color: var(--dragon);
    color: var(--white);
}

.steel {
    background-color: var(--steel);
    color: var(--black);
}

.fairy {
    background-color: var(--fairy);
    color: var(--black);
}