/*
#Normal -> #A8A878
#Fire -> #F08030
#Water -> #6890F0
#Grass -> #78C850
#Electric -> #F8D030
#Ice -> #98D8D8
#Fighting -> #C03028
#Poison -> #A040A0
#Ground -> #E0C068
#Flying -> #A890F0
#Psychic -> #F85888
#Bug -> #A8B820
#Rock -> #B8A038
#Ghost -> #705898
#Dark -> #705848
#Dragon -> #7038F8
#Steel -> #B8B8D0
#Fairy -> #EE99AC
*/

.type {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.normal {
    background-color: #A8A878;
    color: black;
}

.fire {
    background-color: #F08030;
    color: black;
}

.water {
    background-color: #6890F0;
    color: white;
}

.grass {
    background-color: #78C850;
    color: black;
}

.electric {
    background-color: #F8D030;
    color: black;
}

.ice {
    background-color: #98D8D8;
    color: black;
}

.fighting {
    background-color: #C03028;
    color: white;
}

.poison {
    background-color: #A040A0;
    color: white;
}

.ground {
    background-color: #E0C068;
    color: black;
}

.flying {
    background-color: #A890F0;
    color: black;
}

.psychic {
    background-color: #F85888;
    color: black;
}

.bug {
    background-color: #A8B820;
    color: black;
}

.rock {
    background-color: #B8A038;
    color: black;
}

.ghost {
    background-color: #705898;
    color: white;
}

.dark {
    background-color: #705848;
    color: white;
}

.dragon {
    background-color: #7038F8;
    color: white;
}

.steel {
    background-color: #B8B8D0;
    color: black;
}

.fairy {
    background-color: #EE99AC;
    color: black;
}
